process {
    executor = 'slurm'
    withName: 'CreatePlots' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 1
        time = '5min'
        array = 50
        beforeScript = "module load SciPy-bundle/2023.11-gfbf-2023b"
    }
    withName: 'ConvertPng2Gif' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 4
        time = '15min'
        array = 50
        beforeScript = "module load ImageMagick/7.1.1-34-GCCcore-13.2.0"
    }
    withName: 'ComputeDistribution' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 1
        time = '5min'
        beforeScript = "module load ImageMagick/7.1.1-34-GCCcore-13.2.0"
    }
}
