process {
    executor = 'slurm'
    withName: 'CreatePlot' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 1
        time = '5min'
        array = 50
        beforeScript = "source ${projectDir}/module_init.sh && module load SciPy-bundle/2023.07-gfbf-2023a matplotlib/3.7.2-gfbf-2023a"
    }
    withName: 'ConvertPng2Gif' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 4
        time = '15min'
        array = 50
        beforeScript = "source ${projectDir}/module_init.sh && module load ImageMagick/7.1.1-15-GCCcore-12.3.0"
    }
    withName: 'Convert2Movie' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 1
        time = '5min'
        beforeScript = "source ${projectDir}/module_init.sh && module load ImageMagick/7.1.1-15-GCCcore-12.3.0"
    }
}
