conda.enabled = true

process {
    executor = 'slurm'
    withName: 'CreatePoints' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 1
        time = '5min'
    }
    withName: 'ComputeDistances' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
        cpus = 4
        time = '15min'
        beforeScript = "source ${projectDir}/conda_init.sh"
    }
    withName: 'ComputeDistribution' {
        clusterOptions  = '--cluster=wice --account=lpt2_sysadmin'
    }
}
